name: Generate GitHub Stats

on:
  schedule:
    - cron: "0 */24 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Generate Stats SVGs
        run: |
          mkdir -p generated
          curl -o generated/stats.svg "https://github-readme-stats.vercel.app/api?username=uzairsaeedi&show_icons=true&theme=dark&hide_border=true"
          curl -o generated/top-langs.svg "https://github-readme-stats.vercel.app/api/top-langs/?username=uzairsaeedi&layout=compact&theme=dark&hide_border=true"

      - name: Generate Streak Stats
        run: |
          curl -o generated/streak.svg "https://streak-stats.demolab.com/?user=uzairsaeedi&theme=dark&hide_border=true&count_private=true"

      - name: Commit and push generated files
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add generated/
          git commit -m "Update GitHub Stats" || echo "No changes to commit"
          git remote set-url origin https://x-access-token:${GITHUB_TOKEN}@github.com/${{ github.repository }}.git
          git push origin HEAD:main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
